#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  padding: 20px 15px;
  font-weight: bold;
  font-family: Avenir, sans-serif;
}

.table-container {
  width: 70vw;
  padding: 10px;
}

.form-container {
  width: 70vw;
  margin: auto;
  padding: 10px;
}
