#root {
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  padding: 20px 15px;
  font-weight: bold;
  font-family: Avenir, sans-serif;
}

.table-container {
  width: 70vw;
  padding: 10px;
  text-align: center;
}

.form-container {
  width: 70vw;
  padding: 10px;
  background: darkgray;
}

span {
  padding: 0px 28px;
}

table {
  table-layout: fixed;
}


